
.modal {

    background-color: #171717;
    width: 60vw;
    height: 80vh;
    margin: 10vh 20vw;
    border-radius: 30px;

    &__background {
        position: absolute;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: #00000079;
    }

}
